<footer class="usa-footer usa-footer-medium site" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ site.baseurl }}/components/">UI components</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ site.baseurl }}/page-templates/">Page templates</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ site.baseurl }}/getting-started/">Getting started</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ site.baseurl }}/design-principles/">Design principles</a>
          </li>
          <li class="usa-width-one-sixth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ site.baseurl }}/releases/">Release notes</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-two-thirds usa-content">
        <h3>The NASAWDS are derived from 18F's USWDS</h3>
        <p>For the latest information about the USWDS including how to contribute please visit the <a href="https://standards.usa.gov/">U.S. Web Design Standards website</a>.</p>
        <div class="logo-links">
          <a href="https://www.nasa.gov/">
            <img class="logo-nasa" src="{{ site.baseurl }}/img/logo-nasa.png" alt="NASA">
          </a>
          <a href="https://18f.gsa.gov/">
            <img src="{{ site.baseurl }}/img/logo-18f.png" alt="18F">
          </a>
          <a href="http://www.gsa.gov/">
            <img src="{{ site.baseurl }}/img/logo-gsa.png" alt="GSA">
          </a>
        </div>
      </div>
      <div class="usa-footer-contact-links usa-width-one-third">
        <h5>Find an issue or have a feature request?</h5>
        <a href="{{ site.repos[0].url }}/issues/new" class="usa-button cta">
          <img src="{{ site.baseurl }}/img/logo-github.png" alt="GitHub logo">
          Ask questions on GitHub
        </a>
        <h5>Need help troubleshooting?</h5>
        <a href="https://chat.18f.gov/" class="usa-button cta">
          <img src="{{ site.baseurl }}/img/logo-slack.png" alt="Slack logo">
          Join 18F's Slack Channel
        </a>
      </div>
    </div>
  </div>
</footer>
