<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body class="page-{{ page.title | slugify }} layout-{{ page.layout }} {% if page.class %}page-{{ page.class | slugify }}{% endif %}">
    <div class="usa-alert usa-alert-warning" >
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">No longer maintained.</h3>
        <p class="usa-alert-text">The documentation for the latest version of NASAWDS is available <a href="https://www.github.com/nasa/nasawds">here</a>. For versions 2 and below of NASAWDS, this site will remain available for reference. However, some information may be inaccurate, and some links may not work as expected.</p>
      </div>
    </div>
    {{ content }}
    {% include scripts.html %}
  </body>
</html>
